<div class="default-sidebar">
    <!-- Begin Side Navbar -->
    <nav class="side-navbar box-scroll sidebar-scroll">
        <!-- Begin Main Navigation -->
        <ul class="list-unstyled">
            <li><a routerLink="/admin"><i class="la la-columns"></i><span>Dashboard</span></a></li>

        </ul>
        <span class="heading">Productos Fulltech</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-producto" aria-expanded="false" data-toggle="collapse"><i class="la la-globe"></i><span>Fulltech</span></a>
                <ul id="dropdown-producto" class="collapse list-unstyled pt-0">
                    <li><a routerLink="/articulo">Articulos</a></li>
                    <li><a routerLink="/destacado">Destacados</a></li>
                    <li><a routerLink="/banner-emergente">Banner Inicial</a></li>
                </ul>
            </li>
        </ul>

        <span class="heading">Banners PortalC</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-banner" aria-expanded="false" data-toggle="collapse"><i class="la la-laptop"></i><span>Banners</span></a>
                <ul id="dropdown-banner" class="collapse list-unstyled pt-0">
                    <li><a routerLink="/banner-cuadrado">Cuadrados</a></li>
                    <li><a routerLink="/banner-horizontal">Horizontales</a></li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled">
            <li><a routerLink="/contact"><i class="la la-inbox"></i><span>Contacts</span></a></li>
            <!--li><a routerLink="/subcriptores"><i class="la la-user-plus"></i><span>Subscribers</span></a></li-->
        </ul>
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>
<!-- End Left Sidebar -->