<app-header></app-header>
<app-menu></app-menu>
<div class="content-inner">
    <div class="container-fluid">

        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">{{pageTitle}}</h2>
                    <div>
                        <div class="page-header-tools">
                            <a class="btn btn-gradient-01" href="javascript:void(0)" (click)="goBack()">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row">
            <div class="col-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <div class="destacado-form widget-body">
                        <form [formGroup]="cuadradoForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group ">
                                        <label class="col-md-3">Título <span class="required">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" formControlName="titulo" class="form-control" placeholder="Title" required>
                                            <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="error">
                                                <div *ngIf="titulo.errors">
                                                    Titulo es Requerido.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-md-3">Enlace <span class="required">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" formControlName="enlace" class="form-control" placeholder="Enlace" required>
                                            <div *ngIf="enlace.invalid && (enlace.dirty || enlace.touched)" class="error">
                                                <div *ngIf="enlace.errors">
                                                    Enlace es Requerido.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-md-3">Target</label>
                                        <div class="col-md-9">
                                            <input type="radio" formControlName="target" value="_self" /> _self
                                            <input type="radio" formControlName="target" value="_blank" /> _blank
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label class="col-md-3">Activo</label>
                                        <div class="col-md-9">
                                            <input type="radio" formControlName="is_active" value="1" /> Yes
                                            <input type="radio" formControlName="is_active" value="0" /> No
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-12">Subir Imagen (peso max: 500kb | medidas: 300x250px)</label>
                                        <div class="col-12">
                                            <input type="file" id="image" (change)="onSelectedFile($event)" />
                                            <div [innerHTML]="uploadError" class="error"></div>
                                            <div *ngIf="imagePath">
                                                <br />
                                                <img [src]="imagePath" width="100%">
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>


                            <div class="form-group form-row">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <input type="hidden" formControlName="id">
                                    <button type="submit" [disabled]="!cuadradoForm.valid" class="btn btn-outline-success">Guardar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    {{error}}
                </div>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <app-footer></app-footer>