<app-header></app-header>
<app-menu></app-menu>

<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Dashboard</h2>
                </div>
            </div>
        </div>
        <!-- End Page Header -->

        <!-- Begin Row -->
        <div class="row flex-row">
            <!-- Begin  -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-globe"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Productos Fulltech</h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/banner-emergente">Banner Inicial</a></li>
                                    <li><a routerLink="/destacado">Destacados</a></li>
                                    <li><a routerLink="/articulo">Artículos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin  -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-laptop"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a> Portal Cautivo</a></h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/banner-cuadrado">Banners Cuadrados</a></li>
                                    <li><a routerLink="/banner-horizontal">Banners Horizontal</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Row -->
        <!-- Begin Row -->
        <div class="row flex-row">
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-user"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a>Contacts</a></h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/contact">Contacts</a></li>
                                    <!--li><a routerLink="/bridal">Subcribers</a></li-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Row -->


    </div>
    <!-- End Container -->
    <app-footer></app-footer>